<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

    <properties resource="db.properties"/>

    <settings>
        <setting name="logImpl" value="LOG4J"/>
        <!-- 下划线和驼峰之间的转换 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>


    <!-- 类型别名 -->
    <typeAliases>
        <package name="com.albusxing.showcase.model"/>
    </typeAliases>


    <!-- 数据源环境配置 -->
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC">
                <property name="" value=""/>
            </transactionManager>
            <dataSource type="UNPOOLED">
                <property name="driver" value="${db.driver}" />
                <property name="url" value="${db.url}" />
                <property name="username" value="${db.username}" />
                <property name="password" value="${db.password}" />
            </dataSource>
        </environment>
    </environments>


    <mappers>

        <!-- 引入mybatis 映射文件 -->
<!--        <mapper resource="mybatis/SysUserMapper.xml"/>-->
<!--        <mapper resource="mybatis/SysRoleMapper.xml"/>-->
<!--        <mapper resource="mybatis/SysPrivilegeMapper.xml"/>-->

        <!-- 指定mapper 接口的目录 -->
         <package name="com.albusxing.showcase.mapper"/>

    </mappers>

</configuration>